.sick-holder-placeholder {
	color: gray;
	cursor: text;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
}
.sick-holder-placeholder.focus {
	color: #ccc;
}
.sick-holder-container {
	position: relative;
	text-transform: none;
}